@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    
}

#contacto {
    background-image: url("../images/fondo-contacto.png");
    background-size: cover;
}
#proyectos {
    background-image: url("../images/fondo-proyectos.png");
    background-size: cover;

}
#inicio {
    background-image: url("../images/fondo-contacto.png");
        background-size: cover;

}
#inicio footer footer a {
    color: white;
}
#inicio  .fa-github {
    color: #ff4a49;
        background-color: white;
        font-size: 20px;
        border: 0px;
        height: 32px;
        width: 32px;
        text-align: center;
        padding: 6px 0 0 0;
        border-radius: 80px;
        margin: 0 8px;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    font-weight: 100;
    border-radius: 15px;
}
#inicio .fa-linkedin-in  {
color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

h1 {
    color: #E20000;
}

p {
    color: #6a6a6a;
    font-size: 16px;
    border: 0px;
}
.btn {
    color: #370a6d;
    background-color: white;
    border: 0px;
}
#inicio .btn {
    border-radius: 20px; 
} 
.btn:hover {
    background-color:#370a6d;
    color: white;
}
.btn-rojo {
    color: white;
    background-color: #E20000;
    padding: 10px;
    border: 0px;
    text-decoration: none;
    border-radius: 15px;
}
.btn-rojo:hover {
    background-color: #370a6d;
    color: #f8f9fa;
}

.btn-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 0px;
    background-color: #370a6d;
    color: white;
    height: 70px;
    width: 50px;
    font-size: 35px;
    text-align: center;
    padding-top: 8px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    
}
#proyectos .fa-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 0px;
    background-color: #370a6d;
    color: white;
    height: 70px;
    width: 50px;
    font-size: 32px;
    text-align: center;
    padding-top: 17px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}
#contacto footer { 
    color: white; 
}
#contacto footer a {
    color: white;
}
#contacto footer .fa-github {
    font-size: 30px;
    color: white;
}
#contacto footer .fa-linkedin {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;

}
#proyectos footer {
    color: #E20000;
}

#proyectos footer a {
    color: #E20000;
    
}

#proyectos footer .fa-github {
    font-size: 30px;
    color:#E20000;
}

#proyectos footer .fa-linkedin {
    color: white;
    background-color: #E20000;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;

}
textarea {
    height: 100px;
}
form input[type=text], form input[type=email], form input[type=tel], form select, form textarea {
    border-radius: 20px !important;
    resize: none;
}

.cohete {
    height: 400px;
    margin:24px 0px 0px;
    padding: 0px 12px;
}
.cohete:hover{
    height: 410px;
}
.p-1 {
    color: white;
    border: 1px solid white;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 600px;   
}

.text-center {
    text-align: center !important;
}
nav .active {
    border: 1px solid #E20000;
    border-radius: 20px;
}
.proyecto {
    background-color: white;
}
.proyecto h2 {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background: rgb(199, 33, 44);
    background: linear-gradient(90deg, rgba(199, 33, 44, 1) 0%, rgba(200, 54, 38, 1) 37%);
    padding: 16px;
   
}
.proyecto p {
    height: 140px;
    font-size: 14px;
    
}
.proyecto img {
    height: 212px;
}
.cf {
    color: #E20000;
    text-decoration: none;
    
}
.sponsor {
    color: white;
}
.sponsor a {
    color: white;
}
.mail a {
    color: white;
}
#sobre-mi {
    background-color: #f8f9fa;

}
.img-circle {
    height: 200px;
}
#sobre-mi p{
    margin-top: 40px;

}

@media (max-width: 750px) {
    #proyectos {
        background-size: contain;
        background-repeat: no-repeat;
    }
    #contacto {
        background-image: url("../images/fondo-proyectos.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
#sobre-mi h3 {
    font-size: 14px;
}
#sobre-mi h2 {
    margin-left: 110px;
    height: 10px;
    
    
}
.div-java{
    height: 182px;
    width: 180px;
    margin-top: 40px;
    border: solid 1px white;
    border-radius: 6px;
    background-color: white;
    margin-left: 10px;
}
.img-java {
    height: 62px;
    width: 64px;
    
}
.img-php {
    height: 32px;
    width: 64px;
}
.img-html {
    height: 90px;
    width: 90px;
}
.img-react {
    height: 70px;
    width: 70px;
}
.img-query {
    height: 80px;
    width: 80px;
}
.img-boot {
    height: 80px;
    width: 80px;
}
.img-laravel {
    height: 80px;
    width: 80px;
}
.img-maria {
    height: 80px;
    width: 80px;
}
.img-css {
    height: 80px;
    width: 80px;
}
.img-git {
    height: 80px;
    width: 80px;
}
.img-apache {
    height: 80px;
    width: 80px;
}
.img-mercado {
    height: 80px;
    width: 80px;
}

.div-php {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;

}
.div-html {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-react {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-query {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-bootstrap {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-laravel {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-sql {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color:white;
        margin-left: 10px;
}
.div-css {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-git {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-apache {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.div-mercado {
    height: 182px;
        width: 180px;
        margin-top: 40px;
        border: solid 1px white;
        border-radius: 6px;
        background-color: white;
        margin-left: 10px;
}
.img-circle {
    margin: 1em auto;
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.tecnologias {
    background-color: #E20000;
    margin-top: 20px;
}

